// Specific CSS for your home-page
.hero-mobile img {
  display: none;
}

.hero-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 25px;
  background-image: url("https://res.cloudinary.com/dcu7y5wnn/image/upload/v1688657287/BG-2_pa47rl.png");
  background-size: cover;

  .content {
    width: 80%;
    height: fit-content;
  }
  h1,
  h4 {
    text-align: center;
    padding-bottom: 2.5%;
  }

  p {
    text-align: center;
    padding-bottom: 5%;
  }
}

.home-container-s {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20%;

  h1 {
    margin-bottom: 20%;
  }

  p {
    text-align: justify;
  }
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcontainer {

}

.showcase {
  border-radius: 5px;
  height: 100%;
  padding: 2.5%;
}

.showcontent {
  height: 70vh;
  margin: 15%;

  .showitem {
    border: 1px solid #5032d3;
    border-radius: 15px;
    padding: 10%;
    margin-bottom: 5%;
  }
}

// Responsive layout
@media screen and (max-width: 800px) {
  .hero-mobile img {
    display: contents;
    width: 150px;
  }

  .hero-img img {
    display: none;
  }

  .hero-container {
    padding: 15px;

    h1,
    h4 {
      text-align: center;
    }
  }

  .contact {
    justify-content: center;
  }

  .home-container {
    padding: 25px;

    h1 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-mobile img {
    display: contents;
    width: 150px;
  }

  .hero-container {
    padding: 15px;

    h1 {
      text-align: center;
      padding-bottom: 7.5%;
    }
    h4 {
      text-align: center;
    }
  }

  .contact {
    justify-content: center;
  }

  .home-container {
    padding: 25px;
  }
}
