.asset-banner {
  background-color: $lime_green;
  text-align: center;
  padding: 20px;
}

.asset-banner p, .asset-banner h1 {
  color: #22577A;
}

.asset-dashboard {
  display: flex;
  width: 80%;
  margin: 0 auto;
  // justify-content: center;
  // align-items: center;
}
.property-focus {
  width: 33%;
  flex-direction: column;
  // background-color: $lime_green;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
}

.dashboard-content {
  width: 66%;
  margin-left: 15px;
}

.frame {
  border: 1px solid rgb(125, 125, 125);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.frame-content {
  display: flex;
}

.text-content {
  flex: 1;
}

.image-content {
  margin-left: 10px;
  max-height: 100%;
}
.ll-dashboard-content {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
