<%# stopped here at curling a logo image or seeding it, which one is correct? %>

<%# this line is for curl %>
<%# <%= image_tag "logo.png", height: 30, width: 30, alt: "Logo" %>

<%# marker attribution link - requested from the marker website %>
<%# <a href="https://www.flaticon.com/free-icons/location-pin" title="location pin icons">Location pin icons created by Senapedia - Flaticon</a> %>
