<div>
  <h1>Welcome Back, <%= current_user.first_name %></h1>
</div>
<div>
  <h1> Property Listings Dashboard </h1>
  <div>
    <%= link_to "New property", new_property_path %>
  </div>
  <div>
    <div class="card-group">
    <% @properties.each do |property| %>
      <%= render property %>
    <% end %>
    </div>
  </div>
</div>
