<h1> Properties within portfolio </h1>
<%# main container %>
<div>
  <div>
  <% @properties.each do |property| %>
    <%= render property %>
  <% end %>
  </div>
  <%= link_to "New property", new_property_path %>
</div>
