<div class="container">

  <a href="#" class="buttontrial">
    <div class="buttontrial__line"></div>
    <div class="buttontrial__line"></div>
    <span class="buttontrial__text">Join our newsletter </span>
    <div class="buttontrial__drow1"></div>
    <div class="buttontrial__drow2"></div>
  </a>

</div>
