<div class="d-flex ms-5 justify-content-around " >
  <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/dbwm281qa/image/upload/v1686848417/house_oc1fbu.png" class="card-img-top" id="firstcardimage" alt="...">
    <div class="card-body">

      <h5 class="card-title">Home sweet home</h5>
      <p class="card-text">Once you have finalized your selection of the property, it is now opportune to unwind and patiently await the subsequent phase.</p>
      <a href="<%= properties_path %>" class="btn btn-primary d-block mx-auto " style="width: 150px;">To buildings</a>

    </div>
  </div>
  <div class="my-auto">
      <h1 class="homeh1">Found your <span class="highlight">dream home</span> ?</h1>
      <p class="homep">You just need to follow these simple steps from our website.</p>

  </div>
</div>
