<div class="d-flex ms-5 justify-content-around " >
    <div class="my-auto">
      <h1 class="homeh1"> A faster process : <span class="highlight">Join Us</span> </h1>
      <p class="homep"></p>
    </div>
    <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/dbwm281qa/image/upload/v1686848579/register_wnnbkk.png" class="card-img-top" id="secondcardimage" alt="...">
    <div class="card-body">

      <h5 class="card-title">Upload documents</h5>
      <p class="card-text">Effortlessly upload documents with our user-friendly interface, ensuring a secure and efficient process, free from any headaches or complications.</p>
      <a href="<%= new_user_registration_path %>" class="btn btn-primary d-block mx-auto " style="width: 150px;">Sign up now</a>

    </div>
    </div>
</div>
