<div class="d-flex ms-5 justify-content-around " >
  <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/dbwm281qa/image/upload/v1686745223/find-icon-38322_j87o53.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">View your applications</h5>
      <p class="card-text"></p>
      <a href="<%=  %>" class="btn btn-primary d-block mx-auto " style="width: 150px;">To Applications</a>    </div>
  </div>
  <div class="my-auto">
      <h1 class="homeh1">Enjoy your new <span class="highlight">home</span> !</h1>
      <p class="homep">Congratulations, you can now take the keys for your new property.</p>
  </div>
</div>
