<div class="d-flex ms-5 justify-content-around " >
  <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/dbwm281qa/image/upload/v1686848573/winner_hhf2w8.png" class="card-img-top" id="thirdcardimage" alt="...">
    <div class="card-body">

      <h5 class="card-title">Ready to move in ?</h5>
      <p class="card-text">Once the documentation has undergone the necessary processing, you may proceed to discern the date of relocation that best suits your requirements.</p>
      <a href="" class="btn btn-primary d-block mx-auto " style="width: 150px;">Go somewhere</a>
    </div>

  </div>
  <div class="my-auto">
      <h1 class="homeh1">Enjoy your new <span class="highlight">home</span> !</h1>
      <p class="homep">Congratulations, you can now take the keys for your new property.</p>
  </div>
</div>
