<%# section 1 %>
<div>
  <h3> A digital solution to remove the pain points of renting residential property. </h3>
  <p> Rentease is your easy to use, free, cloud-based property management software. Key features like vetting, documentation, progress monitoring and much more on your fingertips.</p>
  <div>
    <%= link_to "Landlords", properties_path, class:"btn btn-primary" %>
    <%= link_to "Tenants", properties_path, class:"btn btn-primary"%>
  </div>
<div>
<div>
<%# section 2 %>
  <h3> How it works? </h3>
  <div class="display: flex">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Step 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Step 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Step 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
<div>
<%# section 3 %>
<div>
  <h3> Software that streamlines the progress. </h3>
  <p> We make sure that the process is clearly outlined with next steps so there is no confusion. As a result we tenant processing is 27% quicker than standard industry practice.</p>
  <p> Rentease is rated 4.8 out of 5 by more than 500 users.</p>
  <div>
    <p> insert stars here </p>
  </div>
<div>

<%# section 4 %>
<div>
  <h3> Try it out! </h3>
  <p> Rentease has been created purposely to take the hassle out of renting your property. More than 3,000 landlords use manage their properties with us and report and overwhelming positive feedback. Why not give it a try today? </p>
  <div>
    <%= link_to "Sign Up", new_user_session_path, class:"btn btn-primary" %>
  </div>
  <p> No commitment </p>
  <p> Start for free </p>
  <p> Get your rental agreement up and running straight away </p>
<div>
