<% steps_and_links = [
  tenant_index_property_application_identifications_path(property_application),
  tenant_index_property_application_employment_documents_path(property_application),
  tenant_index_property_application_bank_references_path(property_application)
] %>

<div class="step-container">
  <% 3.times do |i| %>
    <% index = i + 1 %>

     <%= link_to steps_and_links[i] do %>
      <div class="btn btn-tenant">
        <p class="roundbtn"> <%= index %></p>
      </div>
      
    <% end %>
  <% end %>
</div>
