<div class="card-header" style="background-color: rgb(247, 245, 245)">
  <div class="text-center my-3" style="background-color: white">
    <div class="application-index-main col-10">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= property_application.property.address %></li>
        <li class="list-group-item"><%= property_application.status.empty? ? "Pending" : property_application.status.capitalize %></li>
      </ul>
    </div>
    <div class="card-footer text-muted d-flex justify-content-center">

      <% if property_application.status == "accepted" %>
        <div class="container">
          <a href="<%= finalize_property_application_path(property_application) %>" class="button">Finalize now</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
