<div class="card" style="width: 18rem;">
  <p><%= property_application.property.address %></p>
  <p><%= property_application.status.empty? ? "Pending" : property_application.status %></p>
  <%= link_to '', property_application_path(property_application), class:"fa-solid fa-magnifying-glass mx-5" %>
</div>
