<div>
  <div class="application-banner my-5">
    <h1> My Applications </h1>
  </div>
  <div>
    <div class="application-index-main col-10">
      <div>
        <div class="card-group">
          <% @applications.each do |property_application| %>
            <%= render 'tenant_property_application', property_application: property_application %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
