<h1>New Property Application</h1>

<%= render "form", property_application: @property_application, property: @property %>

<br>

<div>
  <%= link_to "Back to Properties", property_property_applications_path %>
</div>
