// CSS config file for the homepage banner.

.banner {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-weight: bold;
  font-size: 3.5rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.banner p {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.banner-content {
  margin-top: 20px;
}
