// CSS for CARDs. This is being used for the MAIN card class.

.card {
  background-color: white;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}


.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-location-arrow,
.fa-pen-to-square,
.fa-trash {
  font-size: 25px;
  margin-left: 5px;

}
