// CSS for CARDs. This is being used for the MAIN card class.

.card {
  background-color: white;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-bottom: 30px;
  pointer-events: auto;
  cursor: pointer;
  a {text-decoration: none;};
}

.card:hover {
  filter: grayscale(100%); 
}


.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-location-arrow,
.fa-pen-to-square,
.fa-trash,
.fa-magnifying-glass,
.fa-check {
  font-size: 25px;
  margin-left: 5px;
  text-decoration: none;
}

.card-img-top {
 object-fit: cover;
 height: 200px;
 width: 100%;
 border-radius: 15px 15px 0 0;
}

#firstcardimage {
  height:auto;
}

#secondcardimage {
  height:auto;
}

#thirdcardimage {
  height:auto;
}


.fa-location-arrow:hover,
.fa-pen-to-square:hover,
.fa-trash:hover,
.fa-magnifying-glass:hover,
.fa-check:hover  {
  color: #57CC99;
}
