.declined-button {
  background-color: rgba(244, 0, 0, 0.5);
  color: #333;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: not-allowed;
  color: rgb(202, 23, 23);
}
