<h1>Edit Bank References</h1>

<%= render "form", identifications: @bank_reference %>

<br>

<div>
  <%= link_to "Back to Application", properties_path %>
</div>


<div>
  <%= link_to "Back to Applications", property_application_path(params[:property_application_id])%>
</div>
