<div class="asset-banner my-5">
  <h1>Applicant Banking Reference</h1>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
  <div class="col-8">
      <div style="display: flex">
        <div class="col-8">
          <p>It's important to have sight of an applicants banking reference to they have financial standing for ongoing payments and to protect your clients' interests. Here are some key things to look out for:</p>
          <ol>
            <li>Financial Stability</li>
            <li>Verification of Identity: A bank reference helps verify the tenant's identity.</li>
            <li>Debt History: A bank reference may reveal any outstanding debts or financial issues. </li>
            <li>Confirmation of Income: A bank reference can provide evidence of a tenant's income. </li>
            <li>Fraud Prevention: Requesting a bank reference can help mitigate the risk of rental fraud. </li>
          </ol>
        </div>
        <div class="col-4">
        <img src="https://res.cloudinary.com/dbwm281qa/image/upload/v1687446387/Bank_image_copy_u6lmpe.png" style="width:100%">
        </div>
      </div>
      <br>
      <h4 style="color: #22577A;">Documents available for review:</h4>
      <br>
      <div class="card-group">
        <% @b_ref.each do |b_ref| %>
        <div class="card">
          <div class="card-body bankdocs">
            <p class="card-title bankref"><%= b_ref.name %></p>
            <% if b_ref.issue_date.present? %>
              <p class="card-text bankref">Issued on :<%= b_ref.issue_date.strftime("%d/%m/%Y") %></p>
            <% end %>
            <%= link_to "Download", download_pdf_bank_reference_path(b_ref), class: "btn btn-primary" %>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Review Bank Reference
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Banking Reference</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%# THIS NEEDS TO BE WORKED ON NEED CL URL %>
                    <embed src="<%= cloudinary_url(b_ref.pdf.key) %>" width="100%" style="height: calc(100vh - 150px);" type="application/pdf">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


              <script src=
              "https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity=
              "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous">
                </script>
                <script src=
              "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity=
              "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous">
                </script>
                <script src=
              "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity=
              "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous">
                </script>
            </div>
            </div>


          <%#= link_to "Delete ID", property_path(id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
