<h1>Employment Document Details</h1>
<%= @employment_document.company_name %>
<%= @employment_document.date %>
<%= @employment_document.status %>

<%= link_to "edit document", edit_property_application_employment_document_path(@employment_document.id)%>
